.inverse-txt {
    color: whitesmoke;
}
.inverse-txt a:hover {
    color: #7aa482!important;
}
blockquote p:last-child, blockquote p {
    margin: 10px 5px;
}
.site-heading ul {
    margin-top: 10px;
}
.site-heading a {
    color: white;
    font-weight: 400;
    opacity: 0.8;
}
.site-heading a:hover, a:focus {
    color: white;
    font-weight: 400;
    opacity: 1;
}
.scrollToTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    opacity: 0.5;
    z-index: 9999;
}
body {
    font-family: 'Source Sans Pro', san-serif;
    font-size: 15px;
    color: #404040;
    font-weight: 400;
}
.share-page {
    text-align: right;
    margin-top: 20px;
}
.container {
    /*max-width: 1000px;*/
    padding-top: 20px;
}
.home.gallery li {
    width: 205px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.gallery li {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
}
#map2 {
    width: 100%;
    height: 300px;
    margin-top: 50px;
}
p {
    line-height: 1.5;
    margin: 30px 0;
}
h1 {
    font-family: 'Monstserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}
h2, h3 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}
h4, h5, h6 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}
a, a:hover, a:focus {
    text-decoration: none;
}
a {
    color: #404040;
    font-weight: 400;
}
p a {
    /*color: #404040;*/
    color: #618368;
    font-weight: 600;
}
a:hover, a:focus {
    color: #7aa482;
}
a img:hover, a img:focus {
    cursor: zoom-in;
}
blockquote {
    color: #808080;
    font-style: italic;
}
.intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    /*padding-bottom: 115px;*/
    padding-bottom: 15px;
    position: relative;
}
hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s
}
.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    opacity: 1;
}
.intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    opacity: 1;
}

/* Create a bouncing scroll-down arrow on homepage with cover image */

.scroll-down {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 45px;
    left: 50%;
    margin-left: -16px;
    width: 34px;
    height: 34px;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
}
.scroll, .scroll-left {
    /*top: 260px;
	position: absolute;*/
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 370px;
}

/* Stop it bouncing and increase contrast when hovered */

.scroll:hover, .scroll-left:hover {
    color: #fff;
    -webkit-animation: none;
    animation: none;
}
.intro-header .site-heading h1, .intro-header .page-heading h1, .intro-header .post-heading h1 {
    font-size: 50px;
    font-family: 'Montserrat', serif;
}

/*Navbar*/
/*toggle*/

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle {
    border: none;
    background: transparent !important;
    margin-right: 23px;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #404040;
}
/*navbar cutom*/

.navbar-custom {
    background: rgba(32, 32, 32, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: none;
}
.navbar-custom .navbar-brand {
    font-weight: 800;
}
.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-custom .nav li a:hover {
    color: #618368;
}

/*default*/

.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: inherit;
}
.navbar-collapse.collapse:hover {
    display: block!important;
}

/*inverse*/

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(255, 255, 255, 0.4);
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>em, .navbar-inverse .navbar-brand a, .navbar-inverse .navbar-brand {
    color: #404040;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand a:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #7aa482;
    font-weight: 400;
    background-color: gainsboro;
}
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-inverse {
    background-color: white;
}

/*@media (min-width: 1171px) {
    .navbar-inverse {
        border: none;
    }
    .navbar .navbar-inverse .navbar-fixed-top {
        height: 50px
    }
    .navbar-nav {
        float: right;
        margin: 0 20px;
        font-size: 16px;
    }
}*/


/*Navbar always collapsed*/
/*
@media (min-width: 5000px) {
    .navbar-inverse {
        background-color: white;
        border-color: rgba(32, 32, 32, 0.5);
    }
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: block;
    }
    .navbar-nav {
        float: none;
        margin-top: 7.5px;
        font-size: 15px;
        text-align: center;
        font-size: inherit;
        font-weight: 400;
        padding-bottom: 10px;
    }
    .navbar-nav>li {
        float: none;
        margin-bottom: 5px;
    }
    .navbar-nav>li>:hover {
        background-color: gainsboro;
    }
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .collapse.in {
        display: block !important;
        border-top: solid thin gainsboro;
    }
    .navbar-inverse .navbar-toggle:active {
        background-color: transparent;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
    }
}

*/

@media only screen and (min-width: 768px) {
    /*----1170-----*/
    /*.navbar-nav>li>a {
        padding: 15px 0;
    }*/
    .navbar-inverse {
        border-color: gainsboro;
    }
    .navbar .navbar-inverse .navbar-fixed-top {
        height: 50px
    }
    .navbar-nav {
        float: right;
        margin: 0 20px;
        font-size: 14px;
    }
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }
    .navbar-custom .navbar-brand {
        color: white;
        padding: 20px;
    }
    .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.8);
    }
    .navbar-custom .nav li a {
        color: white;
        padding: 20px 0px 10px 0px;
    }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
        color: rgba(255, 255, 255, 0.8);
    }
    /*.navbar-custom .nav li a:after,
    .navbar .nav li a:after {
        content: "/";
        padding: 0 10px;
    }*/
    /*---------*/
}
@media only screen and (min-width: 768px) {
    .intro-header .site-heading, .intro-header .page-heading {
        padding-top: 100px;
        height: 400px;
    }
    .intro-header .post-heading {
        padding-top: 80px 0;
    }
    .intro-header .site-heading, .intro-header .page-heading {
        text-align: center;
    }
    .intro-header .site-heading h1, .intro-header .page-heading h1 {
        margin-top: 0;
        font-size: 50px;
    }
    .scroll-left {
        /*margin-left: 375px;*/
    }
    .intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
        font-size: 24px;
        line-height: 1.1;
        display: block;
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 10px 0 0;
        padding-left: 10px;
    }
    .pager li > a, .pager li > span {
        font-size: 14px;
        padding: 15px 25px;
    }
    .post-preview > a > .post-title {
        /*font-size: 36px;*/
    }
    .intro-header .post-heading h1 {
        font-size: 50px;
        font-family: Montserrat;
    }
    .intro-header .post-heading .subheading {
        font-size: 30px;
    }
    .intro-header .site-heading h1, .intro-header .page-heading h1 {
        font-size: 50px;
    }
    body {
        font-size: 18px;
    }
    .navbar-header {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .navbar-custom.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -61px;
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid #f2f2f2;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }
    .navbar-custom.is-fixed .navbar-brand {
        color: #404040;
    }
    .navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
        color: #7aa482;
    }
    .navbar-custom.is-fixed .nav li a {
        color: #404040;
    }
    .navbar-custom.is-fixed .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
        color: #7aa482;
    }
    .navbar-custom.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

/*end navbar*/

.intro-header {
    /*background: no-repeat center center;*/
    background-color: #202020;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 30px;
    background-position: center;
}
.intro-header .site-heading, .intro-header .page-heading {
    padding: 130px 0 0px;
    height: 400px;
    color: white;
    text-align: center;
    position: relative;
}
.intro-header .post-heading {
    padding: 80px 0 50px;
    height: 400px;
    color: white;
}
.intro-header .post-heading h1 {
    font-size: 50px;
    font-family: Montserrat;
}
.intro-header .post-heading h1 {
    font-size: 50px;
    font-family: Montserrat;
}
.intro-header .post-heading .subheading, .intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}
.intro-header .post-heading .subheading {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
}
.intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 18px;
    /*font-style: italic;*/
}
.intro-header .site-heading .meta {
    /*font-family: 'Lora', 'Times New Roman', serif;*/
    font-size: 17px;
    padding-bottom: 95px;
    opacity: 1;
    /*font-style: italic;*/
}
.intro-header .post-heading .meta a {
    color: white;
}
.post-preview > a {
    color: #404040;
}
.post-preview > a:hover, .post-preview > a:focus {
    text-decoration: none;
    color: #7aa482;
}
.post-preview > a > .post-title {
    font-size: 30px;
    /*  margin-top: 30px;*/
    margin-bottom: 10px;
    font-weight: 600;
}
.post-preview > a > .post-subtitle {
    margin: 0;
    font-weight: 400;
    margin-bottom: 10px;
}
.post-preview > .post-meta {
    color: #8e8e8e;
    font-size: 13px;
    /*&font-style: italic;*/
    margin-top: 0;
    font-family: 'Source Sans Pro';
    padding-left: 3px;
}
.post-preview > .post-meta > a {
    text-decoration: none;
    /*color: #404040;*/
    color: #8e8e8e;
}
.post-preview > .post-meta > a:hover, .post-preview > .post-meta > a:focus {
    color: #7aa482;
    text-decoration: underline;
}
.section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}
.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
footer {
    padding: 50px 0 65px;
}
footer .list-inline {
    margin: 0;
    padding: 0;
}
footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}
.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input, .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}
.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}
.floating-label-form-group-with-focus label {
    color: #7aa482;
}
form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}
.btn {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}
.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}
.btn-default:hover, .btn-default:focus {
    background-color: #7aa482;
    border: 1px solid #7aa482;
    color: white;
}
.pager {
    /*margin: 20px 0 0;*/
    margin: 40px 0 0;
}
.pager li > a, .pager li > span {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    /*font-weight: 800;*/
    letter-spacing: 1px;
    padding: 10px 5px;
    background-color: white;
    border-radius: 0;
}
.pager li > a:hover, .pager li > a:focus {
    color: white;
    background-color: #7aa482;
    border: 1px solid #7aa482;
}
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    color: #808080;
    background-color: #404040;
    cursor: not-allowed;
}
::-moz-selection {
    color: white;
    text-shadow: none;
    background: #7aa482;
}
::selection {
    color: white;
    text-shadow: none;
    background: #7aa482;
}
img::selection {
    color: white;
    background: transparent;
}
img::-moz-selection {
    color: white;
    background: transparent;
}
body {
    webkit-tap-highlight-color: #7aa482;
}
@media only screen and (max-width: 768px) {
    .intro-header .site-heading h1, .intro-header .post-heading h1, .intro-header .page-heading h1 {
        font-size: 50px;
    }
    .intro-header .site-heading, .intro-header .page-heading {
        padding: 100px 0 0px;
    }
    .post-description {
        font-size: initial;
    }
    .nav>li {
        text-align: center;
    }
}
@media only screen and (max-width: 680px) {
    .intro-header .site-heading h1, .intro-header .post-heading h1, .intro-header .page-heading h1 {
        font-size: 50px;
    }
    .intro-header .site-heading, .intro-header .page-heading {
        padding: 100px 0 0px;
    }
}
@media only screen and (max-width: 600px) {
    .intro-header .site-heading h1, .intro-header .post-heading h1, .intro-header .page-heading h1 {
        font-size: 35px;
    }
    .intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
        font-size: 20px;
    }
    .intro-header .site-heading, .intro-header .page-heading {
        padding: 100px 0 0px;
    }
    .post-preview>a>.post-title {
        font-size: 24px;
    }
}
@media only screen and (max-width: 580px) {
    .index-img {
        width: 100%;
    }
    .post-preview>a>.post-title {
        font-size: 30px;
    }
    .post-description {
        font-size: 20px;
    }
}
.index-img {
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 130px;
    margin: 0 40px 20px 0;
    background-size: cover;
}

/* Used to fade in title/desc on the home page */

@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* Used to bounce .scroll-down on home page */

@-webkit-keyframes bounce {
    0%, 10%, 25%, 40%, 50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
