/*
* Demo Styles
*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300);

body {
  background-color: #111;
  font: normal 100%/1.5 "Lato", sans-serif;
  color: white;
  text-align: center
}
.img-small {
	max-width: ;
}
.demo-wrapper {
  padding: 1em
}

a {
  text-decoration: none;
  color: inherit
}

a.button {
  background-color: #353535;
  padding: 5px 15px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 1.5em;
  margin-right: 1em
}

.infobar {
  font-size: 20px;
  padding: 1em
}

.infobar p {
  text-align: center;
  margin-top: 1em
}

h1 {
  text-align: center;
  font-size: 2em
}

.credit,
.tips {
  text-align: center
}

.credit {
  margin-top: 1em
}

.credit a {
  text-decoration: underline
}
.img-small.image {
  font-size: 0;
  text-align: center;
  width: 200px;  /* Container's dimensions */
  height: 150px;
}
img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.img-small.image.trick {
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}
