/*Make control scroll on small phones*/
@media screen and (max-width: 320px) {
	.leaflet-control-layers-list {
		overflow: scroll;
		max-height: 400px;}
}
.leaflet-touch .leaflet-bar a {
    width: 24px;
    height: 24px;
    line-height: 24px;
}
