<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/images/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="container">
  	{% if page.iframe %}<iframe src="{{ page.iframe }}"></iframe>{% endif %}
    <div class="site-heading">
      <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
      <div class="subheading">{{ page.subtitle }}</div>
		</div>
  </div>
  <a class="scroll" data-speed="800" href="#content"><span class="hidden">Scroll Down</span><i class="fa fa-angle-down fa-2x" style="color:#FFF"></i></a>
</header>
