{% if page.vectortiles == true %}
<!--GeoJson Tile Scripts-->
<script src="/assets/geojson-tiles/geojson-vt-dev.js"></script>
<script src="/assets/geojson-tiles/L.CanvasTiles.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.1.0/leaflet-pip.min.js'></script>
{% endif %}

<!--Map-->
<div id='map'>
  <div id="sidebar">
    <div id="mapTitle">
      <h2 style="font-family:Archivo Black, sans-serif;">{{ page.title }}</h2>
      <hr />
    </div>
    <div id="mapDescription">
      {{ page.description }}
      <hr />
    </div>
    <div id="mapInfo">
      <strong>{{ page.notes }}</strong>
      <hr />
    </div>
    <div id="mapLegend">
    {% if page.legend %}{{ page.legend }}{% endif %}</div>
    <div id="mapLegal">
      <em>{{ page.legal }}</em>
    </div>
    {% include map-tools-legend.html %}
    <h6><a href='{{ site.baseurl }}' target='_blank' style='text-decoration:none;'>{{ site.name }}</a> | Map data updated {{ page.date | date: "%m/%-d/%Y" }}</h6>
  </div>
</div>
<script>
  var map = L.map('map', {
    zoomControl: false,
    maxZoom: 20,
    minZoom: 0,
   // touchZoom: false,
    zoomAnimationThreshold: 2
  }).setView([ {{ page.center }} ], {{ page.zoom }});
  map.spin(true);
  //--begin map-tiles Most work via ssl--//

  var watercolor = L.tileLayer('//stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png', {
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: 'abcd',
    maxNativeZoom: 14,
    maxZoom: 17,
    ext: 'png',
  });

  var osm = L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxNativeZoom: 19,
    maxZoom: 22,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  });

  var ggle = new L.Google('HYBRID', {
    maxZoom: 20,
    maxNativeZoom: 20,
  });

  var cdblight = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
    subdomains: 'abcd',
    minZoom: 0,
    maxZoom: 20,
    maxNativeZoom: 18,
  });

  var cdbdark = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
    subdomains: 'abcd',
    minZoom: 0,
    maxZoom: 20,
    maxNativeZoom: 18,
  });
  var thundertransport = L.tileLayer('https://{s}.tile.thunderforest.com/transport/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    maxZoom: 19,
  });

  var esritopo = L.tileLayer('//server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community',
    maxZoom: 20,
    maxNativeZoom: 18,
  });

  var ortho = L.tileLayer('https://api.tiles.mapbox.com/v4/mapbox.streets-satellite/{z}/{x}/{y}.png?access_token={{ site.mapboxid }}', {
    attribution: '<a href="https://mapbox.com/about/maps/">MapBox</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: 'abcd',
    maxZoom: 20,
    maxNativeZoom: 18,
  });

  var streets = osm;
  var topo = esritopo;
  var light = cdblight;
  var dark = cdbdark;
  var transit = thundertransport;
  var basemaps = {
    "<div class='layers-control-img'><img src='/assets/images/layer-control-images/osm-streets.png'></div> Streets": osm,
    "<div class='layers-control-img'><img src='/assets/images/layer-control-images/mapbox-ortho.png'></div> Satellite": ortho,
    "<div class='layers-control-img'><img src='/assets/images/layer-control-images/esri-topo.png'></div> Topography": esritopo,
    "<div class='layers-control-img'><img src='/assets/images/layer-control-images/transit.png'></div> Transit": transit,
    "<div class='layers-control-img'><img src='/assets/images/layer-control-images/cdb-light.png'></div> Grayscale": cdblight,
    "<div class='layers-control-img'><img src='/assets/images/layer-control-images/cdb-dark.png'></div> Dark Matter": cdbdark,
  };

  {% if page.basemap %}
  {{ page.basemap }}.addTo(map);
  {% else %}
  light.addTo(map);
  {% endif %}

  //--show google imagery at higher zoom levels
  map.on('zoomend', function() {
    if (map.getZoom() > 18 && map.hasLayer(ortho)) {
      map.removeLayer(ortho);
      map.addLayer(ggle);
    }

    if (map.getZoom() < 19 && map.hasLayer(ggle)) {
      map.removeLayer(ggle);
      map.addLayer(ortho);
    }
  });

  map.on('baselayerchange', function() {
    if (map.getZoom() > 18 && map.hasLayer(ggle)) {
      map.removeLayer(ggle);
    }
  });

  var layerControl = L.control.layers(basemaps, null, {
    position: 'topright',
    autoZIndex: true
  }).addTo(map);

  //--end map-tiles
  console.log('start map toolbar');

  //OVRDC Modern UI Toolbar
  //OVRDC New marker
  var ovrdcMarker = L.icon({
    iconUrl: '/assets/images/ovrdc-marker.png',
    //shadowUrl: 'leaf-shadow.png',
    iconSize: [48, 48], // size of the icon
    //shadowSize:   [50, 64], // size of the shadow
    iconAnchor: [24, 42], // point of the icon which will correspond to marker's location - half the width and height of icon
    //shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor: [0, -42] // point from which the popup should open relative to the iconAnchor
  });
  //end marker
  var overlays;
  var sidebar = L.control.sidebar('sidebar', {
    autoPan: false,
    closeButton: false
  });
  sidebar.addTo(map);

  //Leaflet Search with OSM Geocode
  var osmsearch = new L.Control.Search({
    url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
    jsonpParam: 'json_callback',
    propertyName: 'display_name',
    propertyLoc: ['lat', 'lon'],
    circleLocation: false,
    autoType: false,
    autoCollapse: false,
    minLength: 2,
    zoom: 13,
    textPlaceholder: 'Search Addresses',
    collapsed: false
  });
  osmsearch.addTo(map);
  var circle;
  var marker;
  osmsearch.on('search_locationfound', function(e) {
    if (marker) {
      map.removeLayer(marker);
    }
    var name = e.display_name;
    marker = new L.marker([e.latlng.lat, e.latlng.lng], {
      icon: ovrdcMarker
    }).addTo(map);
  });

  //Toggle OSM Search and Feature Search - remove if no feature search
  var hash = L.hash(map);
  var gpsLocate = L.control.locate({
    follow: true,
    locateOptions: {
      enableHighAccuracy: true
    }
  });
  //gpsLocate.addTo(map);
  var homeExtent = L.control.defaultExtent({});
  //homeExtent.addTo(map);
  var fullscreen = L.control.fullscreen();

  var globalsearchToggle = new L.easyButton({
    states: [{
      stateName: 'show',
      icon: 'fa-exchange fa-lg',
      title: 'Search Addresses',
      onClick: function(btn, map) {
        osmsearch.addTo(map);
        btn.state('hide');
      }
    }, {
      stateName: 'hide',
      icon: 'fa-exchange fa-border fa-lg',
      title: 'Search Features',
      onClick: function(btn, map) {
        map.removeControl(osmsearch);
        btn.state('show');
      }
    }]
  });
  //globalsearchToggle.addTo(map);
   {% if page.loading != false %}
  var loading = L.Control.loading({
    position: 'topright'
  }).addTo(map);{% endif %}
  var sidebarToggle = L.easyButton({
    states: [{
      stateName: 'open-sidebar', // name the state
      icon: 'fa-bars fa-lg', // and define it's properties
      title: 'Show Sidebar', // like it's title
      onClick: function(btn, map) { // and it's callback
        sidebar.show();
        btn.state('close-sidebar'); // change state on click!
      }
    }, {
      stateName: 'close-sidebar',
      icon: 'fa-times fa-2x',
      title: 'Hide Sidebar',
      onClick: function(btn, map) {
        sidebar.hide();
        btn.state('open-sidebar');
      }
    }],
    id: 'menu',
  });
  var stogglebar = L.easyBar([sidebarToggle], {
    id: 'toggle'
  }).addTo(map);
  var leafletprint = L.easyPrint();
  //end toolbar
  sidebar.on('hide', function() {
    sidebarToggle.state('open-sidebar');
  });
  sidebar.on('show', function() {
    sidebarToggle.state('close-sidebar');
  });
  //mobile toolbar menu
  //--tools toggle on small screens
  var toolshidden = false;
  var mobilescreen = false;
  var tools = L.easyButton({
    states: [{
      stateName: 'show-tools', // name the state
      icon: 'fa-cogs fa-lg', // and define it's properties
      title: 'Show Map Tools', // like it's title
      onClick: function(btn, map) { // and it's callback
        leafletprint.addTo(map);
        gpsLocate.addTo(map);
        homeExtent.addTo(map);
        fullscreen.addTo(map);

        globalsearchToggle.addTo(map);

        btn.state('hide-tools'); // change state on click!
        toolshidden = false;
        //console.log(toolshidden + ' state changed to hideTools');
      }
    }, {
      stateName: 'hide-tools',
      icon: 'fa-cogs fa-border fa-lg',
      title: 'Hide Map Tools',
      onClick: function(btn, map) {
        map.removeControl(leafletprint);
        map.removeControl(gpsLocate);
        map.removeControl(homeExtent);
        map.removeControl(fullscreen);
{% if page.search == true %}
        map.removeControl(globalsearchToggle);
{% endif %}
        btn.state('show-tools');
        toolshidden = true;
        //console.log(toolshidden+ ' state changed to showTools');
      }
    }],
    id: 'tools',
  });
  console.log('tools loaded');
  var w = window.innerWidth;
  console.log('screen width: ' + w);
  if (w < 481) {
    tools.addTo(map);
    toolshidden = true;
    mobilescreen = true;
  } else {
    leafletprint.addTo(map);
    gpsLocate.addTo(map);
    homeExtent.addTo(map);
    fullscreen.addTo(map);
    {% if page.search == true %}
    globalsearchToggle.addTo(map);
{% endif %}
    toolshidden = false;
  }
  window.onresize = function() {
    if (toolshidden === true && window.innerWidth > 480 && mobilescreen === true) {
      leafletprint.addTo(map);
      gpsLocate.addTo(map);
      homeExtent.addTo(map);
      fullscreen.addTo(map);
      {% if page.search == true %}
      globalsearchToggle.addTo(map);
      {% endif %}
      map.removeControl(tools);
      toolshidden = false;
      mobilescreen = false;
    } else if (toolshidden === false && mobilescreen === true && window.innerWidth > 481) {
      tools.state('show-tools');
      mobilescreen = false;
      map.removeControl(tools);
    } else if (toolshidden === false && window.innerWidth < 481 && mobilescreen === false) {
      map.removeControl(leafletprint);
      map.removeControl(gpsLocate);
      map.removeControl(homeExtent);
      map.removeControl(fullscreen);
      {% if page.search == true %}
      map.removeControl(globalsearchToggle);
      {% endif %}
      tools.addTo(map);
      toolshidden = true;
      mobilescreen = true;
    } else {}
  };
  //--end tools toggle
  /*Attribution Toggle*/
  /*
  var toggleAttribution = L.Control.extend({
    options: {position: 'bottomright'},

    onAdd: function (map) {
            this._div = L.DomUtil.create('button', 'btn btn-link');
            this._div.innerHTML = "Leaflet | Map Tiles" ;
            L.DomEvent.on(this._div, "click", this._click );
            return this._div;
    },

    _click: function(e){
      L.DomEvent.stop(e);
      x = document.getElementsByClassName("leaflet-control-attribution")[0];
      x.style.display = x.style.display === 'block' ? '' : 'block';
    },

  });
  map.addControl(new toggleAttribution());
  */
  //Close Layer Control on Layer Change
  //Close Layer Control on Layer Change on mobile
  map.on('baselayerchange', function() {
    if (L.Browser.mobile) {
      map.on('baselayerchange', function() {
        setTimeout(function() {
          $(".leaflet-control-layers").removeClass("leaflet-control-layers-expanded");
        }, 5000);
      });
    }
  });

  //end mobile tools menu
  //end OVRDC Modern UI Toolbar
/*
  var customZoom = L.control.zoom({
    position: 'topleft'
  }).addTo(map);
  ortho.addTo(map);
  sidebar.on('show', function() {
    map.removeControl(customZoom)
  });
  sidebar.on('hide', function() {
    customZoom.addTo(map);
  });
  tileData.on('ready', function() {
    console.log('parcel data ready');
    map.fitBounds(parcels.getBounds());
    $(".blank").fadeOut();
    map.spin(false);
    setTimeout(function() {
      sidebar.show()
    }, 700);
  });
*/
