{% assign n_posts = 0 %}
{% for post in site.posts %}
    {%if post.id == page.id %}{% continue %}{% endif %}
    {% for this_tag in page.tags %}
        {% if post.tags contains this_tag%}
            {% if n_posts == 0 %}<h4>Related Posts</h4><ul>{% endif %}
                <li class="relatedPost">
                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}
                    {% if post.series %}
                        (Series: {{ post.series }})
                    {% endif %}
                    </a>
                </li>
            {% assign n_posts = n_posts | plus: 1 %}
            {% break %}
        {% endif %}
    {% endfor %}
    {%if n_posts > 3 %}{% break %}{% endif %}
{% endfor %}
{% if n_posts > 0 %}</ul>{% endif %}
