<div class="pager">
  {% if page.next.url %}
  <a class="button is-info is-outlined is-inverted is-medium is-pulled-left" data-balloon="{{page.next.title}}" data-baloon-pos="up" href="{{ page.next.url }}">&larr; {{page.next.title | truncate: 40}}</a>
  {% endif %}
  {% if page.previous.url %}
  <a class="button is-info is-outlined is-inverted is-medium is-pulled-right" href="{{ page.previous.url }}" data-balloon="{{page.previous.title}}" data-balloon-pos="up">{{page.previous.title | truncate: 40 }} &rarr;</a>
  {% endif %}
</div>
