<div class="column is-4 is-pulled-left">
  <div class="card fadein3_">
    <div class="card-image">
      <a href="{{post.url}}">
        <figure class="image is-16by9" {% if post.feature-img != null or post.header-img != null or post.image != null %}style="background-image:url({%if post.feature-img%}/images/compressed/{{post.feature-img}}{%elsif post.image%}/images/compressed/{{post.image}}{%elsif post.header-img%}/images/compressed/{{post.header-img}}{% elsif post.image == null or post.feature == null or post.header-img == null %}/images/compressed/pattern_00.jpg{%endif%})"{%endif%}>
        </figure>
      </a>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p><a class="title is-4" href="{{post.url}}">{{post.title}}</a></p>
            <span class="subtitle">
              <a class="content" href="{{post.url}}">
                {%if post.subtitle %}<div class="bulma-hero--subtitle">
                  {{ post.subtitle | strip_html | truncatewords:10}}<br>
                <!--small></small-->
              </div>{%endif%}</a></span>
              <div class="post-date">
                  {% if post.posted-date %}
                  <time datetime="{{ post.posted-date | date_to_xmlschema }}">{{ post.posted-date | date: '%B %d, %Y' }}</time>
                  &nbsp;(Updated <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }})</time>
                  {% else %}<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
                  {% endif %}
              </div>
              <!-- {% if post.presentation %}<span><a class="tag slides" href="/slides">presentation</a></span>{% endif %} -->
              <span>{% for tag in post.tags %}<a href="/tags/#{{tag}}" class="tag {{tag}}" data-id="{{tag}}">{{tag}}</a>{%endfor%}</span>
        </div>
      </div>
    </div>
  </div>
</div>
