<div class="containter related">
<style>.fa-ul {margin-left:0}.fa-li {left:0}</style>
{% assign n_posts = 0 %}
{% for post in site.posts %}
    {%if post.id == page.id %}{% continue %}{% endif %}
    {% for this_tag in page.tags %}
        {% if post.tags contains this_tag%}
            {% if n_posts == 0 %}
            <h3 style="letter-spacing:6px;text-align:center;margin:0;font-weight:500;">Related Posts</h3>
            <hr>
            <div class="columns cards">
              {% endif %}
              <!--begin post-loop.html -->
              {% include loops/post-loop-cards.html %}
              {% assign n_posts = n_posts | plus: 1 %}
            {% break %}
        {% endif %}
    {% endfor %}
    {%if n_posts > 2 %}</div>{% break %}{% endif %}
{% endfor %}
{% if n_posts > 0 %}{% endif %}
</div>
<hr style="margin-top:10px;">
