<!--Full Social Media Tag Template: Article>
  <from https://moz.com/blog/meta-data-templates-123-->

  <!-- Update your html tag to include the itemscope and itemtype attributes. -->
  <html itemscope itemtype="http://schema.org/Article">

  <!-- Place this data between the <head> tags of your website -->
  <meta name="description" content="{% if page.description %}{{ page.description }}{% elsif page.subtitle %}{{ page.subtitle }}{% else %}{{site.description}}{% endif %}">
  <meta name="author" content="Malcolm Meyer">

  <!--social og data-->

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{page.title}}">
  <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% elsif page.subtitle %}{{ page.subtitle }}{% else %}{{site.description}}{% endif %}">
  <meta itemprop="image" content="{{ site.baseurl }}/{% if page.feature-img %}{{ page.feature-img }}{% elsif page.image %}{{ page.image }}{% else %}{{ site.header-img }}{% endif %}" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@getbounds">
  <meta name="twitter:creator" content="@getbounds">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% elsif page.subtitle %}{{ page.subtitle }}{% else %}{{site.description}}{% endif %}">
  <meta name="twitter:domain" content="getBounds.com" />
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="{{ site.baseurl }}/{% if page.feature-img %}images/post-img/landscape/{{ page.feature-img }}{% elsif page.image %}images/post-img/original/{{ page.image }}{% else %}{{ site.header-img }}{% endif %}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="{% if page.homepage == true %}website{% else %}article{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:image" content="{{ site.baseurl }}/{% if page.feature-img %}{{ page.feature-img }}{% elsif page.image %}{{ page.image }}{% else %}{{ site.header-img }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif page.subtitle %}{{ page.subtitle }}{% else %}{{site.description}}{% endif %}" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link property="og:url" content="{{ site.baseurl }}{{ page.url | remove:'index.html' }}/" />
  <meta property="article:tag" content="{% for tag in page.tags%}{{page.tag}}{%endfor%}" />
  {% if page.date %}<meta property="article:published_time" content="{{page.date}}" />{%endif%}
