/*OVRDC Leaflet Modern UI*/
/*Media queries*/
@media only screen and (min-width: 320px) {
  .leaflet-top.leaflet-left {
    right: 10px;
  }
  .leaflet-sidebar {
    width: 55%;
  }
  .leaflet-control-search .search-cancel {
    right: 140px!important;
  }
}
@media only screen and (min-width: 992px) {
  .leaflet-top.leaflet-left,
  .leaflet-sidebar {
    width: 450px;
  }
  .leaflet-control-search .search-cancel {
	left: 290px;
  }
  .leaflet-control-search .search-input {
	  max-width: 263px!important;
  }
}
/*end media queries*/
/*easyButton bar toggle*/
#toggle {
    position: absolute;
    left: 10px;
}
.fa-lg {
	vertical-align: -5%;
}
.fa-border {
    margin: -5px;
    padding: 3.7px;
    border: solid .08em #9C9C9C;
    background: whitesmoke;
}
.leaflet-bar a:hover {
  background-color: #fff;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar,
.leaflet-touch .leaflet-control-locate {
  border: none;
}
.leaflet-top.leaflet-left {
    display: inline-flex;
    direction: rtl;
    position: absolute;
    left: 10px!important;
    top:10px;
}
.leaflet-top .leaflet-control {
  margin: 5px 0px;
  box-shadow: none;
}
.leaflet-container .leaflet-control-search {
  position: absolute!important;
  padding: 5px 0 5px 40px;
  margin: 0;
  width: 100%;
  z-index: initial;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 38px;
  box-shadow: 0 1px 7px #999!important;
  direction: ltr;
  left:0;
}
.leaflet-control-search .search-button {
  display: none;
}
.leaflet-top.leaflet-bar {
  box-shadow: none;
}
.leaflet-sidebar,
.leaflet-touch.leaflet-sidebar {
  padding: 0;
  margin-top: 57px;
  z-index: 401!important;
  max-height:85%;
  border: none;
}
.leaflet-touch .leaflet-sidebar > .leaflet-control {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  border: none;
}
.leaflet-sidebar.left {
  left: -1000px;
}
.leaflet-sidebar.left.visible {
  left: 10px;
}
.leaflet-sidebar > .leaflet-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 1px 7px #999;
}
.leaflet-control-layers {
  border-radius: 0;
}
.leaflet-control-layers.leaflet-control {
  background: none;
  padding-right: 8px;
  z-index: 9999;
}
@-webkit-keyframes fadeIn { from { opacity:0.8; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0.8; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0.8; } to { opacity:1; } }
.leaflet-control-layers-expanded {
  margin-right: 0!important;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4)!important;
  background: #fff!important;
  margin-top: 0!important;
  position: absolute;
/*  opacity:0.8;  /* make things invisible upon start */
/*  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
/*  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
/*  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:0.2s;
  -moz-animation-duration:0.2s;
  animation-duration:0.2s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;*/
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  overflow: hidden;
  direction: ltr;
}
.leaflet-control-layers-toggle,
.leaflet-touch .leaflet-control-layers-toggle {
  background-image: url(cssjs/images/layers-bl-6.png);
  background-size: 80%;
  width: 26px;
  height: 26px;
  margin-top: 1px;
}
.leaflet-control-search .search-cancel {
    z-index: 401;
}
.leaflet-touch .leaflet-bar button {
  line-height: 26px;
}
.leaflet-google-layer.leaflet-top.leaflet-left {
  top: 0px;
  left: 0px !important;
}
