* { text-shadow: none;}
#reveal-container {height:80%;padding:10% 0 0 0;}
.reveal h1, .reveal h2, .reveal h3 {
  font-family: 'Montserrat', sans-serif;
}

.reveal, .reveal h4, .reveal h5, p {
  font-family: 'Source Sans Pro', sans-serif;
}
.reveal .slides> section,
.reveal .slides> section> section {
  padding: 0;
  line-height: 1.2;
}
.reveal p {
  margin: inherit;
}
.reveal ul {
  line-height: 1.3;
}
