---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Leaflet Snake Plugin Testing</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="/assets/leaflet-snake/leaflet-snake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-omnivore/0.3.2/leaflet-omnivore.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-hash/0.2.1/leaflet-hash.min.js"></script>
    <style>#map{position:absolute;top:0;bottom:0;left:0;width:100%}</style>
    <style>body {background-color: transparent!important;}</style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map = new L.map('map', {zoomControl:false}).setView([39.4591,-84.1284],11);
      var cdbdark = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_nolabels/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
        subdomains: 'abcd'
      }).addTo(map);
      var hash = new L.Hash(map);
      var x = 0;
      {% for ride in site.data.rides %}
      {% if ride.slug == "msride" %}
        var coords = [];
        var {{ride.slug}} = new L.geoJson(null, {
          onEachFeature: function(feature, layer) {
              var c = layer.feature.geometry.coordinates;
              for (i=0; i < c.length; i++) {
                coords.push([c[i][1], c[i][0]]);
              }
        }
        });
        var {{ride.slug}}Data = omnivore.gpx("{{ site.baseurl }}/{{ ride.file }}", null, {{ride.slug}});
        {{ride.slug}}Data.on('ready', function() {
        map.flyToBounds({{ride.slug}}Data.getBounds());
        setTimeout(function() {
            var {{ride.slug}}Snake = L.polyline(coords, {opacity: 0.5,color:'firebrick',snakingSpeed: 50}).addTo(map).snakeIn();
            }, 500);
        });
        {% endif %}
      {% endfor %}
    </script>
  </body>
</html>
