---
layout: default
---
<!--layout: post.html-->
<div id="post-content" class="content section">
  <div class="container">
    {% if page.tags contains "slides" and page.presentation %}
    <iframe src="{{page.presentation}}" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" width="100%" height="500" frameBorder="0"></iframe>
    <div>
      <a class="button is-info is-outlined is-inverted is-small is-pulled-right" href="{{page.presentation}}" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i>&nbsp;View Full Screen
      </a>
    </div><br>{%endif%}
    {{content}}
    <hr>
    {% include loops/related-posts.html %}
    {% include loops/pager.html %}
  </div>
</div>
<script>
if(document.getElementsByTagName('iframe').length>0) {
  console.log('removing animations on iframe sections');
  setTimeout(function() {
    document.getElementById('post-content').className = 'content  section';
  }, 2000);
}
</script>
