<!DOCTYPE html>
<html lang="en">
<!--script type="text/javascript">if(window.location.protocol != "https:"){var url = window.location.href.substr(5);window.location = "https:" + url;}</script-->
{% include head.html %}
<!--Begin Slides Layout-->
<style>
  * { text-shadow: none;}
  #reveal-container {height:80%;padding-top: 15%;}
  .reveal h1, .reveal h2 {
    font-family: 'Montserrat', sans-serif;
  }

  .reveal h3, .reveal h4, .reveal h5, p {
    font-family: 'Source Sans Pro', sans-serif;
  }
  .reveal .slides> section,
  .reveal .slides> section> section {
    padding: 0;
    line-height: 1.2;
  }
  .reveal p {
    margin: inherit;
  }
  .reveal ul {
    line-height: 1.3;
  }

  {% if page.style %}/*custom page styles*/
  {{page.style}}
  /*end custom page styles*/{% endif %}
</style>
<body>
  {% include nav.html %}
  <div id="reveal-container">
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides" id="slides">
        <!--begin reveal.js presentation post -->
        {% if page.background %}
        <section data-markdown data-separator="___" data-separator-vertical="^\n--\n$" data-background="{{ page.background }}">
        	<script type="text/template">
            {{ content }}
          </script>
        {% else %}
        <section data-markdown data-separator="___" data-separator-vertical="^\n--\n$">
        	<script type="text/template">
            {{ content }}
          </script>{% endif %}
        <!--end post-->
      </div>
    </div>
  </div>
  <script src="/slides/lib/js/head.min.js"></script>
  <script src="/slides/js/reveal.js"></script>

  <script>
    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,
      {% if page.parallax %}
      parallaxBackgroundImage: '{{ page.parallax }}',
      {% endif %}
      transition: '{% if page.transition %}{{ page.transition }}{% else %}slide{%endif %}', // none/fade/slide/convex/concave/zoom

      // Optional reveal.js plugins
      dependencies: [{
        src: '/slides/lib/js/classList.js',
        condition: function() {
          return !document.body.classList;
        }
      }, {
        src: '/slides/plugin/markdown/marked.js',
        condition: function() {
          return !!document.querySelector('[data-markdown]');
        }
      }, {
        src: '/slides/plugin/markdown/markdown.js',
        condition: function() {
          return !!document.querySelector('[data-markdown]');
        }
      }, {
        src: '/slides/plugin/highlight/highlight.js',
        async: true,
        condition: function() {
          return !!document.querySelector('pre code');
        },
        callback: function() {
          hljs.initHighlightingOnLoad();
        }
      }, {
        src: '/slides/plugin/zoom-js/zoom.js',
        async: true
      }, {
        src: '/slides/plugin/notes/notes.js',
        async: true
      }]
    });
    var fs = 0;
    $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange MSFullscreenChange', function() {
      $('#nav').fadeToggle("fast");
      $('#footer').fadeToggle("fast");
      fs = fs + 1;
      function check(num) { return num % 2;}
      console.log(check(fs))
      if (check(fs) === 1) {
        $('#reveal-container').css({'height': '100%','padding': '0'});
      }else{
        $('#reveal-container').css({'height': '80%','padding-top': '15%'});
      }
    });
  </script>
  {% if page.mouse == "true" %}
  <script>
    /*Adding mouse clickthrough for presentations from http://www.raymondcamden.com/2012/10/20/Adding-mouse-click-navigation-to-revealjs*/
    window.addEventListener("mousedown", handleClick, false);
    window.addEventListener("contextmenu", function(e) {
      e.preventDefault();
    }, false);

    function handleClick(e) {
      e.preventDefault();
      if (e.button === 0) Reveal.next();
      if (e.button === 2) Reveal.prev();
    }
  </script>
  {% endif %}
  {% include footer.html %}
  </body>
</html>
