---
layout: app
---
<!--layout: slides.html-->
<div class="reveal">
  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides" id="slides">
    <!--begin reveal.js presentation post -->
    {% if page.background %}
        {{ content }}
    {% else %}
        {{ content }}
    {% endif %}
    <!--end post-->
  </div>
</div>
<script src="/slides/lib/js/head.min.js"></script>
<script src="/slides/js/reveal.js"></script>
<script>
/*$(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange msfullscreenchange', function(e) {
console.log('fullscreenchange');
if (document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement || document.msFullscreenElement ) {
  //$('#slides-container').css({'height': '100%','padding': '0'});
  //$('#nav').hide("fast");
  //$('#footer').hide("fast");
  console.log('in fullscreen');
} else {
  //$('#slides-container').css({'height': '80%','padding': '10% 0 0 0'});
  //$('#nav').show();
  //$('#footer').show();
  console.log('NOT in fullscreen');
}
});*/
</script>
<script>
// Full list of configuration options available at:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
  controls: true,
  progress: true,
  history: true,
  center: true,
  {% if page.parallax %}
  parallaxBackgroundImage: '{{ page.parallax }}',
  {% endif %}
  transition: '{% if page.transition %}{{ page.transition }}{% else %}slide{%endif %}', // none/fade/slide/convex/concave/zoom

  // Optional reveal.js plugins
  dependencies: [{
    src: '/slides/lib/js/classList.js',
    condition: function() {
      return !document.body.classList;
    }
  }, {
    src: '/slides/plugin/markdown/marked.js',
    condition: function() {
      return !!document.querySelector('[data-markdown]');
    }
  }, {
    src: '/slides/plugin/markdown/markdown.js',
    condition: function() {
      return !!document.querySelector('[data-markdown]');
    }
  }, {
    src: '/slides/plugin/highlight/highlight.js',
    async: true,
    condition: function() {
      return !!document.querySelector('pre code');
    },
    callback: function() {
        hljs.initHighlightingOnLoad();
    }
  }, {
    src: '/slides/plugin/zoom-js/zoom.js',
    async: true
  }, {
    src: '/slides/plugin/notes/notes.js',
    async: true
  }]
});
</script>
{% if page.mouse == "true" %}
<script>
/*Adding mouse clickthrough for presentations from http://www.raymondcamden.com/2012/10/20/Adding-mouse-click-navigation-to-revealjs*/
window.addEventListener("mousedown", handleClick, false);
window.addEventListener("contextmenu", function(e) {
  e.preventDefault();
}, false);

function handleClick(e) {
  e.preventDefault();
  if (e.button === 0) Reveal.next();
  if (e.button === 2) Reveal.prev();
}
</script>
{% endif %}
